body{
	font-family: Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #FFFFFF;
	background:radial-gradient(circle,#552277,#000000);
}
h1#title{
	margin-top: 3em;
	margin-bottom: 0;	
	text-align: center;
	font-size: 2.3em;
}
p#description{
	margin: 1em 3em 2em;
	font-size: 1.3em;
	text-align: center;	
	font-style: italic;
}
form#survey-form{
	width: 500px;
	margin: auto;
	padding:2em;
	border: solid thin black;
	height: auto;
	box-sizing: border-box;
	color:#FFFFFF;
	background:repeating-radial-gradient(circle,#000000,#DD6600,#000000 5px);
}
label.improve{
	margin-left: 10px;
}

.fieldSize{
	width: 100%;
	height: 3em;
}
#submit{
	background-color: #552277;
	color:#FFFFFF;
	font-weight: bold;
	border-radius: 2%;
}